<div class="ad-container" style="color: green;">
    <div class="text-section" style="color: green">
        <h1>Selling B2B Services?</h1>
        <h2>Connect with your next client on Our website</h2>
        <p>Get in front of millions of active B2B buyers worldwide inside the leading global business services marketplace.</p>
        <button class="button-spacing" style="background-color: #172F4A; color: green; border-radius: 10px; padding: 10px 20px; font-weight: bold; font-family: Arial, sans-serif;border: 2px solid white;">Create a Profile</button>
        <p>Already have a profile? Ask your clients to leave a review.</p>
    </div>  
</div>
<div class="image-section"> <img style="height: 291px; width: 420px; margin-top: -300px; margin-left: 843px; margin-bottom: 14px;" src="/assets/client.png" alt="Descriptive text about the image"></div>
