<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="header.component.scss" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <title>My Angular UI</title>
</head>
<body>
  <nav class="navbar">
    <div class="left-section">
      <button class="search-button">Search</button>
      <div class="text-options">
        <a href="#" routerLink="/">Leave a Review</a>
        <span class="separator">|</span>
        <a href="#">For Providers</a>
      </div>
    </div>
    <div class="right-section">
      <div class="icons">
        <!-- Add your icons here -->
      </div>
      <button (click)="openSignInPopup()" class="sign-in-button">Sign In</button>
      <button (click)="openJoinPopup()" id="openJoinPopupBtn" class="join-button">Join</button>
    </div>
  </nav>

  <div class="popup"  #signInPopup>
    <div class="popup-content">
        <h2 style="color: #333;margin-left:150px;margin-top:16px">Sign In</h2>
        <form>
            <input class="email-content" type="email" id="email" placeholder="Enter your work email" required>
            <input class="password-content" type="password" id="password" placeholder="Enter your password" required>
            <input type="checkbox" class="checkbox-input" style="margin-top: 32px;margin-left: 19px;">
            <label for="stayLoggedIn" style="color:#11BF8F;margin-left: 4px;font-size: 13px;">Stay logged in</label>
            <a href="#" class="forgot-link" style="color:#11BF8F;margin-left: 168px;font-size: 13px;">Forgot password?</a>
            <button class="sign-in-content" id="signInButton">Sign In</button>
            <label for="joinUs" style="color:#333;margin-left: 19px;font-size:15px;">New to our website?</label>
            <a href="#" class="join-link" style="color:#11BF8F;margin-left:3px;font-size:15px;font-weight:bold;" (click)="openJoinPopup()">Join Us</a>
            <a href="https://www.google.com" target="_blank" class="button google-button">Continue with Google</a>
            <a style="margin-bottom:16px;" href="https://www.linkedin.com" target="_blank" class="button linkedin-button">Continue with LinkedIn</a>
            <button id="closeButton" type="button" (click)="closeForm()">X</button>
          </form>
    </div>
  </div>

  <div class="join-popup"  #joinPopup>
    <div class="join-popup-content">
      <h2 style="color: #333;margin-left:100px;margin-top:16px;">Join Our Website</h2>
      <form>
        <input class="first-name-content" type="firstName" id="firstName" placeholder="Enter Your First Name">
        <input class="last-name-content" type="secondName" id="secondName" placeholder="Enter Your Last Name">       
        <input class="email-content" type="email" id="email" placeholder="Enter your work email" required>
        <input class="password-content" type="password" id="password" placeholder="Enter your password" required>
        <input class="confirm-password-content" type="confirmPassword" id="confirmPassword" placeholder="Enter your password again" required>
        <label for="policy-accept" style="color:#11BF8F;margin-left:19px;display:table;margin-right:14px;font-size:14px;">By continuing, you agree to Our Website Terms of Use and Privacy Policy.</label >
        <button class="join-in-content" id="joinInButton">Create Account</button>
        <label for="account" style="color: #333;margin-left:19px;margin-top:16px">Have an account?</label >
        <a href="#" class="signin-content" id="joinInButton" style="color:#11BF8F;margin-left:3px;font-size:15px;font-weight:bold;" (click)="openSignInPopup()">Sign In</a>    
        <a href="https://www.google.com" target="_blank" class="button google-button">Continue with Google</a>
        <a style="margin-bottom:16px;" href="https://www.linkedin.com" target="_blank" class="button linkedin-button">Continue with LinkedIn</a>
        <button id="closeButton" type="button" (click)="closeJoinForm()">X</button>
      </form>
    </div>
  </div>
</body>
</html>
