/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    padding: 10px;
}

h1 {
    font-size: 36px;
    color: #333;
    margin-left: 5px;
}

p {
    font-size: 18px;
    color: #666;
    margin-left: 5px;
    white-space: nowrap;
}

