<!-- app.component.html -->

<app-header ngSkipHydration></app-header>
<app-main-content ngSkipHydration></app-main-content> <!-- Include the main content component -->
<app-banner ngSkipHydration></app-banner> <!-- Include the main content component -->
<app-homepage-service ngSkipHydration></app-homepage-service> <!-- Include the main content component -->
<app-development-service ngSkipHydration></app-development-service> <!-- Include the footer component (optional) -->
<app-profile-service ngSkipHydration></app-profile-service> <!-- Include the footer component (optional) -->
<app-footer ngSkipHydration></app-footer> <!-- Include the footer component (optional) -->
