<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="development-service.component.scss">
    <title>Service Categories</title>
</head>
<body>
    <div class="container">
        <div class="section-1">
            <img src="/assets/dev.png" alt="Development Icon">
            <h2>Development</h2>
            <ul>
                <li> <a href="#">Mobile App Development</a></li>
                <li> <a href="#">Software Development</a></li>
                <li> <a href="#">Web Development</a></li>
                <li> <a href="#">AR/VR</a></li>
                <li> <a href="#">Artificial Intelligence</a></li>
                <li> <a href="#">Blockchain</a></li>
            </ul>
        </div>
        <div class="section-2">
            <img src="/assets/design.png" alt="Design Icon">
            <h2>Design & Production</h2>
            <ul>
                <li> <a href="#"> Web Design</a></li>
                <li> <a href="#"> User Experience Design</a></li>
                <li> <a href="#"> Logo Design</a></li>
                <li> <a href="#"> Graphic Design</a></li>
                <li> <a href="#"> Design</a></li>
                <li> <a href="#"> Digital Design</a></li>
            </ul>
        </div>
        <div class="section-3">
            <img src="/assets/marketing.png" alt="Marketing Icon">
            <h2>Marketing</h2>
            <ul>
                <li> <a href="#"> Digital Marketing</a></li>
                <li> <a href="#"> SEO</a></li>
                <li> <a href="#"> Social Media Marketing</a></li>
                <li> <a href="#"> Mobile Marketing</a></li>
                <li> <a href="#"> Content Marketing</a></li>
                <li> <a href="#"> Search Marketing</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
